<div id='es-modal-close'>[close]</div><h2>Format Cell</h2>
<div class='es-format-toggle' id='es-bg-red'>bg red</div>
<div class='es-format-toggle' id='es-bg-white'>bg white</div>
<div class='es-format-toggle' id='es-usd'>money</div>
