<ul class="es-menu-list">
  <li
        id="es-menu-add-column"
        class="es-menu-button i18n"
        data-action="add_column"
        data-i18n="add_column">
  </li><li
        id="es-menu-remove-column"
        class="es-menu-button i18n"
        data-action="remove_column"
        data-i18n="remove_column">
  </li><li
        id="es-menu-sort-rows"
        class="es-menu-button i18n"
        data-action="sort_row"
        data-i18n="sort_row">
  </li>
</ul>
<div class='clear'></div>
