<div id="es-container">
  <div id="es-panel-0" class="es-panel">
    <div id="es-menu-container"></div>
  </div>
  <div id="es-panel-1" class="es-panel">
    <div id="es-expression-editor-container"></div>
    <div id="es-table-container"></div>
  </div>
  <div id="es-modal-overlay"><div id="es-modal-box"></div></div>
</div>
