<div id='es-modal-close'>[close]</div><h2>Import CSV</h2>
<form action="/import/csv" method="post" enctype="multipart/form-data">
  <input type="file" name="csv_file"><input type='submit' value='Upload'>
  <input type="hidden" name="sheet_id" value="<%=sheet_id%>">
</form>


