<ul class="es-menu-list">
  <li
        id="es-menu-add-row"
        class="es-menu-button i18n"
        data-action="add_row"
        data-i18n="add_row">
  </li><li
        id="es-menu-remove-row"
        class="es-menu-button i18n"
        data-action="remove_row"
        data-i18n="remove_row">
  </li>
</ul>
<div class='clear'></div>
