<div id="es-table-<%= id %>">
  <table class="table">
  <colgroup>
    <col id='row-header'>
    <% for(var i=0; i<num_col; i++){ %>
      <col class='es-column' id='es-column-<%= i %>'>
    <% } %>
    </colgroup>
    <thead id="column-headers-<%=id%>"></thead>
    <tbody id="data-table-<%=id%>"></tbody>
  </table>
</div>
