<ul id='es-sheet-list'>
<% var _ = require('underscore'); %>
<% sheets.each(function(sheet){ %>
<li><a class='es-sheet-selector' id=<%=sheet.id%> > <%=sheet.meta.title%> </a></li>
<%});%>
<a id='es-add-sheet-button'>+ Add Sheet</a>
