<div id="es-table-<%= id %>" class="es-table-view">
  <table class="es-row-headers es-table">
    <thead id="es-row-headers-<%=id%>"></thead>
    <tbody></tbody>
  </table>
  <table class="es-column-headers es-table">
    <thead id="es-column-headers-<%=id%>"></thead>
    <tbody></tbody>
  </table>
  <table class="es-table-grid es-table">
    <thead></thead>
    <tbody id="es-data-table-<%=id%>"></tbody>
  </table>
</div>
