<% var _ = require('underscore'); %>
<% _.each(sheet.rowIds(), function(row_id){ %>
  <tr id="<%= row_id %>" class="es-table-row" data-row_id="<%= row_id %>">
    <% _.each(sheet.colIds(), function(col_id){ %>
      <td id="<%= row_id %>-<%= col_id %>" class="<%= sheet.getCellFormatString(row_id,col_id) %>" data-row_id="<%= row_id %>" data-col_id="<%= col_id %>" data-value="<%= sheet.getCellValue(row_id,col_id)%>"><%= sheet.getCellDisplayById(row_id,col_id) %></td>
    <% }) %>
  </tr>
<% }) %>
