<% var _ = require('underscore'); %>
<% _.each(sheet.rowIds(), function(row_id){ %>
  <tr class="table-row">
    <% _.each(sheet.colIds(), function(col_id){ %>
      <td class="table-cell"><%= sheet.getValue(row_id,col_id) %></td>
    <% }) %>
  </tr>
<% }) %>
