body{
  background: #fcfcfc;
  color: #222;
  overflow: hidden;
} #es-container{
font-family: 'Oxygen', Ariel, Sans-Serif;
width:100%;
height:100%;
}
#es-container h1,h2,h3,h4,h5,h6{
margin:0;
}
.es-panel{
  height: 100%;
  overflow: hidden;
  position: relative;
}
#es-panel-0{
  width: 0px;
  float: left;
  height: 95%;
  height: calc(100% - 40px);
  overflow-y: auto;
  padding-top: 5px;
  box-shadow: 5px 0 5px #888;
  z-index: 2;
  display: none;
}
#es-panel-1{
  height: calc(100% - 50px);
  padding-top: 15px;
  margin-left: 10px;
  margin-right: 10px;
}
#es-panel-2{
  width: 0;
  float: right;
  height: 100%;
  overflow-y: auto;
}
#es-header .es-sidebar-toggle{
  float: left;
  display: inline;
  margin-right: 5px;
  position: absolute;
  z-index: 3;
}
.es-sidebar-toggle.active {
  border-radius: 0 0 5px 5px;
  height: 60px;
  top: -4px;
  width: 60px;
}
#es-function-icon{
  background-image: url('/es_client/icons/ethersheet-icon-function-gray.png');
  left: 60px;
}
#es-function-icon.active{
  background-image: url('/es_client/icons/ethersheet-icon-function.png');
}
#es-activity-icon{
  background-image: url('/es_client/icons/ethersheet-icon-activity-gray.png');
  left: 180px;
}
#es-activity-icon.active{
  background-image: url('/es_client/icons/ethersheet-icon-activity.png');
}
#es-style-icon{
  background-image: url('/es_client/icons/ethersheet-icon-style-gray.png');
  left: 120px;
}
#es-style-icon.active{
  background-image: url('/es_client/icons/ethersheet-icon-style.png');
}
#es-sheet-icon{
  background-image: url('/es_client/icons/ethersheet-icon-sheets-gray.png');
}
#es-sheet-icon.active{
  background-image: url('/es_client/icons/ethersheet-icon-sheets.png');
}
#es-sheet-list li{
  cursor: pointer;
}
#es-sheet-list a {
  cursor: pointer;
}
.es-sidebar-toggle{
  height: 40px;
  width: 60px;
  background-position: top;
  background-repeat: no-repeat;
  cursor: pointer;
}
#es-menu-container{
}
#es-table-container{
position:relative;
border: 1px solid #333;
}
#es-modal-overlay{
display: none;
width: 100%;
height: 100%;
top: 0;
right: 0;
position: absolute;
background: rgba(0,0,0,0.5);
z-index: 1000;
color:#111111;
}
#es-modal-box{
  min-height: 400px;
  width: 600px;
  border: 2px solid #333;
  background: #FFF;
  margin: 100px auto;
  padding: 15px;
  z-index: 1001;
}
#es-modal-close{
  cursor: pointer;
  float: right;
  font-size: 12px;
}
#es-menu-icon{
  height: 30px;
  width: 30px;
  float: left;
  display: inline;
  cursor: pointer;
}
#es-logo{
  width: -moz-max-content;
  width: -webkit-max-content;
  width: intrinsic;
  margin: auto;
}
@media all and 
(max-width: 700px) and (min-width: 535px) {
  #es-logo{
    width: auto;
    float: right;
  }
}
@media all and 
(max-width: 534px) {
  #es-logo{
    display: none;
  }
}
#es-logo h1{
  margin: 0;
  padding: 0 25px ;
  display: inline;
  font-size: 20px;
}
#es-header{
  background: url("/es_client/icons/dark_stripes.png");
  padding: 5px 10px;
  color: #fcfcfc;
  height: 35px;
}
