@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Code Pro'), local('SourceCodePro-Regular'), url(/es_client/styles/sourcecodepro.woff) format('woff');
}
body{
  background: #666;
  color: #fff;
}
#es-container{
font-family: 'Source Code Pro', Ariel, Sans-Serif;
width:100%;
height:100%;
overflow: hidden;
}
#es-container h1,h2,h3,h4,h5,h6{
margin:0;
}
.es-panel{
  height: 100%;
  overflow: hidden;
  position: relative;
}
#es-panel-0{
  width: 200px;
  float: left;
  margin-right: 2%;
  height: 100%;
  overflow-y: scroll;
}
#es-panel-1{
  margin-left: 200px;
  margin-right: 200px;
}
#es-panel-2{
  width: 200px;
  float: right;
  margin-left: 2%;
  height: 100%;
  overflow-y: auto;
}
#es-menu-container{
}
#es-table-container{
position:relative;
}
#es-modal-overlay{
display: none;
width: 100%;
height: 100%;
top: 0;
right: 0;
position: absolute;
background: rgba(0,0,0,0.5);
z-index: 1000;
color:#111111;
}
#es-modal-box{
  min-height: 400px;
  width: 600px;
  border: 2px solid #333;
  background: #FFF;
  margin: 100px auto;
  padding: 15px;
  z-index: 1001;
}
#es-modal-close{
  cursor: pointer;
  float: right;
  font-size: 12px;
}
#es-menu-icon{
  height: 30px;
  width: 30px;
  float: left;
  display: inline;
  cursor: pointer;
}
#es-logo{
  display: inline;
  float: left;
}
#es-logo h1{
  margin: 0;
  padding: 0 25px ;
  display: inline;
}
#es-header{
  margin-bottom: 10px;
  background: black;
  padding: 5px 10px;
}
