
#es-menu-container h2{
  margin-top: 0;
}
#es-menu-list{
list-style:none;
margin:0;
padding:0;
color:#111;
}
#es-menu-list li{
margin:4px 0;
background: #fff;
padding: 0;
}
.es-menu-button{
cursor:pointer;
padding:6px;
display: block;
color: #000;
text-decoration: none;
}
.clear{
  clear: both;
}

