
#es-menu-container h2{
  margin-top: 0;
}
#es-menu-list{
list-style:none;
margin:0;
padding:0;
color:#111;
}
#es-menu-list li{
  background: none repeat scroll 0 0 #FFFFFF;
  border-bottom: 1px solid #D0D2D3;
  color: #000000;
  cursor: pointer;
  padding: 10px;
  text-decoration: none;
}
.clear{
  clear: both;
}

#es-sheet-list-container{
  border: 1px solid black;
  box-shadow: 5px 5px 5px #888;

}
