
#es-menu-container h2{
  margin-top: 0;
}
.es-menu-list{
list-style:none;
margin:0;
padding:0;
color:#111;
}
.es-menu-list li{
  background: none repeat scroll 0 0 #FFFFFF;
  border-bottom: 1px solid #D0D2D3;
  color: #000000;
  cursor: pointer;
  padding: 10px;
  text-decoration: none;
}
#es-panel-1 .es-menu-list li {
  background: none repeat scroll 0 0 #000000;
  border-bottom: 1px solid #D0D2D3;
  color: #dadada;
  cursor: pointer;
  padding: 10px;
  text-decoration: none;
}
.es-sheet-name {
 width: 145px;
}
.clear{
  clear: both;
}
#es-sheet-list-container {
  border: 1px solid black;
  box-shadow: 5px 5px 5px #888;
}
#es-menu-grid li {
  border-bottom: 1px solid #D0D2D3;
  border-right: 1px solid #D0D2D3;
  display: inline-block;
  float: left;
  height: 85px;
  text-align: center;
  width: 85px;
}
#es-menu-grid img{
  clear: both;
  display: block;
  margin: 15px auto;
}
#es-menu-grid {
  margin: 0;
  padding: 0;
}
.es-menu-list li.es-menu-button:hover, .es-menu-list li.es-menu-button.active{
  background: #2BB573;
  border-bottom: 1px solid #009344;
  color: #fcfcfc;
}
#es-panel-1 .es-menu-list li.es-menu-button:hover{
  background: #2BB573;
  border-bottom: 1px solid #009344;
  color: #fcfcfc;
}
#es-menu-grid a{
  color: #000;
}
.es-sheet-control {
  margin-right: 5px;
  cursor: pointer;
  float: right;
}
.es-sheet-control#delete-sheet {
}
