body {
  background: #F9F9FF url("/es_client/icons/tiny_grid.png");
  color: #111;
  font-family: 'Oxygen', 'Times New Roman', times;
  margin: 0;
  padding: 0;
}
a{
  color: #599AC6;
  text-decoration: none;
}
.clear {
  clear: both;
}
h1#title{
  width: 100%;
  height: 35px;
  padding: 5px;
  background: #000;
  margin-top: 0;
  color: #fff;
}
.text{
  font-size: 18px;
  min-width: 350px;
  width: 350px;
  margin: 0 auto;
}
#content-inner {
  margin: 80px auto;
  max-width:800px;
}
#instructions-container {
  float: left;
  padding: 15px;
  margin: 0 auto;
}
#instructions{
  text-align: center;
  font-size: 22px;
}
#about {
  font-size: 16px;
  color: #3e5666;
  margin-top: 16px;
}
#about p {
  margin: 9px 0;
}
input#sheetname{
  font-family: "Source Code Pro", "Courier New", Courier;
  height: 50px;
  font-size: 25px;
  background: #FAFAFA;
  border: 1px solid black;
  color: #000;
  font-size: 25px;
  padding: 0 10px;
  width:100%;
  text-align: center;
}
input#submit {
  font-size: 21px;
  height: 50px;
  text-transform: uppercase;
  width: 100%;
}
#logo-container {
  text-align: center;
  width: 350px;
  float: left;
  padding: 15px;
  margin: 0 auto;
}
#logo-container img{
  width: 350px;
}

@media all and 
(max-width: 800px) {
  #logo-container, #instructions-container  { 
  float: none;
  width: auto;
  padding: 0;
  }
  #instructions-container {
  padding: 0 5%;
  }
  #logo-container img {
  width: 80%;
  height: auto;
  }
  #content-inner {
  margin: 10px auto;
  width: 100%;
  }
  #instructions{ 
  margin-top: 5px;
  }
  .text {
  width: 90%;
  min-width: 100%;
  }
}
