body{
  margin: 0px;
}
.table{
border-collapse: collapse;
float:left;
table-layout: fixed;
width: 0;
}
.table td, .table th{
padding:0;
margin:0;
font-size:16px;
line-height:17px;
}
.table tr{
height: 18px;
}
.table .table-corner{
background: #cccccc;
border: 1px solid #cccccc;
border-bottom-color: #666666;
height:15px;
}
.column-header{
border:1px solid #666666;
border-bottom: none;
background:#aaaaaa;
}
.row-header{
border:1px solid #666666;
background:#aaaaaa;
border-right: none;
}
#row-header{
width: 40px;
}
.es-column{
width: 120px;
}
  
.es-table-cell{
width: 36px;
height: 12px;
border:1px solid #666666;
}
.es-table-cell-input{
  border: 0px;
  position: absolute;
}
