::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}
.es-table-view{
position:absolute;
overflow:hidden;
top:0;
left:0;
height:100%;
width:100%;
border: 1px solid #888888;
background: #EEE;
}
.es-table{
border-collapse: collapse;
table-layout: fixed;
width: 0;
}
.es-column-headers,.es-row-headers,.es-grid-container{
position:absolute;
}
.es-column-headers{
margin-left:8%;
left:0px;
top:0px;
height:18px;
background:#eeeeee;
}
.es-row-headers{
left:0px;
top:0px;
width:8%;
margin-top:18px;
background:#eeeeee;
}
.es-grid-container{
left:8%;
top:0;
width:92%;
height:97%;
margin-top:18px;
overflow:scroll;
}
.es-table-cell, .es-column-header{
padding:0;
margin:0;
width: 100px;
height: 22px;
font-size:14px;
line-height:12px;
}
.es-table-corner{
background: #cccccc;
width:8%;
height:18px;
position:absolute;
top:0;
left:0;
}
.es-table th.es-column-header{
border:1px solid #666666;
border-top:none;
border-bottom:none;
height:100%;
}
.es-row-header{
border:1px solid #666666;
border-right: none;
border-left: none;
padding: 0;
}
.es-table-cell{
border:1px solid #888888;
overflow:hidden;
}
.es-table-cell-input{
  border: 0px;
  position: absolute;
}
.ExpressionEditor,#es-expression-editor-container{
  float:left;
  display:inline;
  margin-right: 10px;
}
.ExpressionEditorContainer a {
  float:left;
  color:#fff;
  font-size: 24px;
  text-decoration: none;
  font-style: italic;
  font-weight: bold;
  font-family: ariel;
}
.ExpressionEditor input{
  height: 26px;
  width: 24em;
  font-size: 22px;
font-family: 'Source Code Pro', Ariel, Sans-Serif;
border: 1px solid #CCC;
}

